<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Анкета для определения риск-профиля</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'questionnaire/view.css' %}" media="all">
<script src="{% static 'questionnaire/jquery-3.1.1.min.js' %}"></script>


</head>
<body id="main_body" >

	<img id="top" src="{% static 'questionnaire/top.png' %}" alt="">
	<div id="form_container">
	
		<h1><a>Анкета для определения риск-профиля</a></h1>
		<form id="form_18072" class="appnitro"  method="post" action="../risk_tolerance/">
		{% csrf_token %}
					<div class="form_description">
			<h2>Анкета для определения риск-профиля</h2>
			<p>Толерантность к риску является ключевым фактором, чтобы правильно распределить активы в портфеле..
			Ваша толерантность к риску оценивается на основе трех факторов: (1) Временной горизонт, (2) Долгосрочные цели и ожиданиия, м 
			(3) Отношениие к краткосрочному риску.</p>
		</div>						
			<ul >
			
					<li class="section_break">
			<h3>Временной горизонт</h3>
			<p>Ваша текущая ситуация и потребность в будущих доходах.</p>
		</li>		<li id="li_3" >
		<label class="description" for="element_3">1. Сколько вам лет? </label>
		<span>
			<input id="element_3_1" name="element_3" class="element radio" type="radio" value="1" required/>
<label class="choice" for="element_3_1">A. Меньше 45 лет</label>
<input id="element_3_2" name="element_3" class="element radio" type="radio" value="2" required/>
<label class="choice" for="element_3_2">B. 45 to 55</label>
<input id="element_3_3" name="element_3" class="element radio" type="radio" value="3" required/>
<label class="choice" for="element_3_3">C. 56 to 65</label>
<input id="element_3_4" name="element_3" class="element radio" type="radio" value="4" required/>
<label class="choice" for="element_3_4">D. 66 to 75</label>
<input id="element_3_5" name="element_3" class="element radio" type="radio" value="5" required/>
<label class="choice" for="element_3_5">E. Старше 75 лет</label>

		</span> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">2. Когда вы планируете откладывать свои сбережения?  </label>
		<span>
			<input id="element_4_1" name="element_4" class="element radio" type="radio" value="1" required/>
<label class="choice" for="element_4_1">A. Не раньше чем через 20 лет</label>
<input id="element_4_2" name="element_4" class="element radio" type="radio" value="2" required/>
<label class="choice" for="element_4_2">B. Через 10 to 20 лет</label>
<input id="element_4_3" name="element_4" class="element radio" type="radio" value="3" required/>
<label class="choice" for="element_4_3">C. Через 5 to 10 лет</label>
<input id="element_4_4" name="element_4" class="element radio" type="radio" value="4" required/>
<label class="choice" for="element_4_4">D. Не сейчас, но в течении 5 лет</label>
<input id="element_4_5" name="element_4" class="element radio" type="radio" value="5" required/>
<label class="choice" for="element_4_5">E. Немедленно</label>

		</span> 
		</li>		<li class="section_break">
			<h3>Долгосрочные Цели и Ожиданиия </h3>
			<p>Ваше представление как иннвестиция должна работать в долгосрочной перспективе.</p>
		</li>		<li id="li_8" >
		<label class="description" for="element_8">3. What is your goal for this investment? </label>
		<span>
			<input id="element_8_1" name="element_8" class="element radio" type="radio" value="1" required/>
<label class="choice" for="element_8_1">A. Расти агрессивно</label>
<input id="element_8_2" name="element_8" class="element radio" type="radio" value="2" required/>
<label class="choice" for="element_8_2">B. Расти значительно</label>
<input id="element_8_3" name="element_8" class="element radio" type="radio" value="3" required/>
<label class="choice" for="element_8_3">C. Расти умеренно</label>
<input id="element_8_4" name="element_8" class="element radio" type="radio" value="4" required/>
<label class="choice" for="element_8_4">D. Расти осторожно</label>
<input id="element_8_5" name="element_8" class="element radio" type="radio" value="5" required/>
<label class="choice" for="element_8_5">E. Избежать потерю денег</label>

		</span> 
		</li>		<li id="li_9" >
		<label class="description" for="element_9">4. Предполагая нормальные рыночные условия, чего вы ожидаете от этих инвестиций с течением времени? </label>
		<span>
			<input id="element_9_1" name="element_9" class="element radio" type="radio" value="1" required/>
<label class="choice" for="element_9_1">A. Чтобы в целом идти в ногу с фондовым рынком</label>
<input id="element_9_2" name="element_9" class="element radio" type="radio" value="2" required/>
<label class="choice" for="element_9_2">B. Чтобы немного отстать от фондового рынка, но с хорошей прибылью</label>
<input id="element_9_3" name="element_9" class="element radio" type="radio" value="3" required/>
<label class="choice" for="element_9_3">C. Повторять динамиику фондового рынка, но получать умеренную прибыль</label>
<input id="element_9_4" name="element_9" class="element radio" type="radio" value="4" required/>
<label class="choice" for="element_9_4">D. Чтобы иметь некоторую стабильность, но получать скромную прибыль</label>
<input id="element_9_5" name="element_9" class="element radio" type="radio" value="5" required/>
<label class="choice" for="element_9_5">E. Чтобы иметь высокую степень стабильности, но получать небольшую прибыль</label>

		</span> 
		</li>		<li id="li_10" >
		<label class="description" for="element_10">5. Предположим, что фондовый рынок в ближайшее десятилетие будет работать плохо, чего вы ожидаете от этих инвестиций?? </label>
		<span>
			<input id="element_10_1" name="element_10" class="element radio" type="radio" value="1" required/>
<label class="choice" for="element_10_1">A. Потеряю дньги</label>
<input id="element_10_2" name="element_10" class="element radio" type="radio" value="2" required/>
<label class="choice" for="element_10_2">B. Сделаю очень мало и ниичего</label>
<input id="element_10_3" name="element_10" class="element radio" type="radio" value="3" required/>
<label class="choice" for="element_10_3">C. Заработаю небольшую прибыль</label>
<input id="element_10_5" name="element_10" class="element radio" type="radio" value="5" required/>
<label class="choice" for="element_10_5">D. Получу скромный доход</label>
<input id="element_10_4" name="element_10" class="element radio" type="radio" value="4" required/>
<label class="choice" for="element_10_4">E. Мой портфель не будет затронут, тем что происходит с рынком в целом</label>

		</span> 
		</li>		<li class="section_break">
			<h3>Отношениие к краткосрочному риску</h3>
			<p>Ваше отношение к краткосрочной волатильности.</p>
		</li>		<li id="li_11" >
		<label class="description" for="element_11">6. Какое из этих утверждений лучше всего описывает ваше отношение к результатам этих инвестиций в следующие три года?? </label>
		<span>
			<input id="element_11_1" name="element_11" class="element radio" type="radio" value="1" required/>
<label class="choice" for="element_11_1">A. Я не против, если я потеряю деньги</label>
<input id="element_11_2" name="element_11" class="element radio" type="radio" value="2" required/>
<label class="choice" for="element_11_2">B. Я могу терпеть просадки</label>
<input id="element_11_3" name="element_11" class="element radio" type="radio" value="3" required/>
<label class="choice" for="element_11_3">C. Я могу терпеть небольшую просадку</label>
<input id="element_11_4" name="element_11" class="element radio" type="radio" value="4" required/>
<label class="choice" for="element_11_4">D. Мне было бы трудно терпеть любые просадки</label>
<input id="element_11_5" name="element_11" class="element radio" type="radio" value="5" required/>
<label class="choice" for="element_11_5">E. Мне нужно увидеть хотя бы небольшую отдачу</label>

		</span> 
		</li>		<li id="li_12" >
		<label class="description" for="element_12">7. Какое из этих утверждений лучше всего описывает ваше отношение к результатам этих инвестиций в следующие три месяца? </label>
		<span>
			<input id="element_12_1" name="element_12" class="element radio" type="radio" value="1" required/>
<label class="choice" for="element_12_1">A. Какая разница? Один календарный квартал ничего не значит.</label>
<input id="element_12_2" name="element_12" class="element radio" type="radio" value="2" required/>
<label class="choice" for="element_12_2">B. Я бы не стал беспокоиться о потерях на таких сроках</label>
<input id="element_12_3" name="element_12" class="element radio" type="radio" value="3" required/>
<label class="choice" for="element_12_3">C. Если бы я потерял более 10%, я бы забеспокоился</label>
<input id="element_12_4" name="element_12" class="element radio" type="radio" value="4" required/>
<label class="choice" for="element_12_4">D. Я могу терпеть только небольшие краткосрочные убытки</label>
<input id="element_12_5" name="element_12" class="element radio" type="radio" value="5" required/>
<label class="choice" for="element_12_5">E. Мне было бы трудно смириться с потерями</label>

		</span> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="18072" />
			    <input id="saveForm" class="button_text" type="submit" value="Submit" />

		</li>
			</ul>
		</form>	

	</div>
	
	
<script>

	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	



	function ajaxget() {
		function ajaxRequest(){
		 var activexmodes=["Msxml2.XMLHTTP", "Microsoft.XMLHTTP"] //activeX versions to check for in IE
		 if (window.ActiveXObject){ //Test for support for ActiveXObject in IE first (as XMLHttpRequest in IE7 is broken)
		  for (var i=0; i<activexmodes.length; i++){
		   try{
			return new ActiveXObject(activexmodes[i])
		   }
		   catch(e){
			//suppress error
		   }
		  }
		 }
		 else if (window.XMLHttpRequest) // if Mozilla, Safari etc
		  return new XMLHttpRequest()
		 else
		  return false
		}


		var mypostrequest=new ajaxRequest()
		mypostrequest.onreadystatechange=function(){
		 if (mypostrequest.readyState==4){
		  if (mypostrequest.status==200 || window.location.href.indexOf("http")==-1){
		   document.getElementById("result").innerHTML=mypostrequest.responseText
		  }
		  else{
		   alert("An error has occured making the request")
		  }
		 }
	}
		
		var q1=encodeURIComponent(6-document.querySelector('input[name="element_3"]:checked').value)
		var q2=encodeURIComponent(6-document.querySelector('input[name="element_4"]:checked').value)
		var q3=encodeURIComponent(6-document.querySelector('input[name="element_8"]:checked').value)
		var q4=encodeURIComponent(6-document.querySelector('input[name="element_9"]:checked').value)
		var q5=encodeURIComponent(6-document.querySelector('input[name="element_10"]:checked').value)
		var q6=encodeURIComponent(6-document.querySelector('input[name="element_11"]:checked').value)
		var q7=encodeURIComponent(6-document.querySelector('input[name="element_12"]:checked').value)
		
		var parameters="&q1="+q1+"&q2="+q2+"&q3="+q3+"&q4="+q4+"&q5="+q5+"&q6="+q6+"&q7="+q7
		mypostrequest.open("POST", "../risk_tolerance/", true)
		mypostrequest.setRequestHeader("X-CSRFToken", csrftoken)
		mypostrequest.send(parameters)

		$(document).ready(function(){

			$('html,body').animate({scrollTop: "1800px"}, 1000);

		});	
	}
	
	

</script>	
<img id="bottom" src="{% static 'questionnaire/bottom.png' %}" alt="">

<div id="result"> 
</div>	
	
	
	
	
	
	
	</body>
</html>
